*{
    font-family: 'lato', sans-serif;
    font-size: 15px;
    color: #fff;
  
  }
  body html{
  margin: 0px;
  padding: 0px;
  
  }
  .bg{
  background: url("D:/Sys-Task/Assignment-01/images/BG.png");
  background-size: cover;
  height: 100vh;
  /* width: 100%; */
  background-repeat: no-repeat;
  /* display: flex; */
  }
  .form-container{
      
    
      padding: 25px;
      border-radius: 25px;
      border: 0.5px solid #eff1ec9d;
      background-color:#eceae714;
      position: absolute;
      top: 28vh;
      width: 80%;
      margin-left: 30px;
    
     
   
  }
   .form_logo img{
  
    margin: 0 150px 5px;
    width:  20%;
    vertical-align: middle;
    border-style: none;
  }
  .form-container .form-group{
    margin: 0 0 10px;
    position: relative;
  }
  .form-container .form-control{
    background-color:rgba(126, 120, 120, 0.281);
    border-color: #fafafae6;
      width:100%;
      height: 40px;
      border-radius: 8px;
     margin-top: 10px;
     margin-right: 15px;
  }
    .form-container .form-control::placeholder {
      color: white;
      font-size: 14px;
    }
   .form-container .btn{
    
      border-radius:8px;
      height: 40px;
      background-color: red;
      cursor: pointer;
      width: 100%;
      margin-top: 19px;
      opacity: 0.9;
    
    }
    .form-container .form-options{
      margin: 0;
      padding: 0;
      list-style: none;
      
    }
    .form-container .form-options li a{
      color: white;
      margin: 0 0 10px;
      display: block;
      text-decoration: underline;
      margin-top: 30px;
  
    }
    
    .btn:hover {
      opacity: 1;}
  
  
        @media only screen and (max-width:450px){
          .bg{
            background-size: 800%;
          }
          .form-container{
            width: 80%;
          }
        }
  