/* *{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
  	
    
}
 body{
     background-image: url("D:/Sys-Task/Assignment-01/images/BG.png"); 
  
    background-repeat: no-repeat;
  
    background-size: cover;
    
} 
.box4{
    width: 350px;
    height: 520px;
  
    border-radius: 25px;
    border: 0.5px solid #eff1ec30;
    background-color:#eceae714;
    position:absolute;
    top:30%;
    left:45%;
    margin-top:-90px; 
    margin-left:-100px;
}
.box4 input{
  background-color:rgba(0, 0, 0, 0); 
  border-color: #fafafae6;
} */
*{
  font-family: 'lato', sans-serif;
  font-size: 15px;
  color: #fff;

}
body html{
margin: 0px;
padding: 0px;

}
.bg{
background: url("D:/Sys-Task/Assignment-01/images/BG.png");
background-size: cover;
height: 100vh;
/* width: 100%; */
background-repeat: no-repeat;
/* display: flex; */
}
.form-container{
    
  
    padding: 25px;
    border-radius: 25px;
    border: 0.5px solid #eff1ec9d;
    background-color:#eceae714;
    position: absolute;
    top: 20vh;
    /* width: 80%; */
    margin-left: 40px;
    height: 500px;
  
   
 
}
 .form_logo img{

  margin: 0 150px 5px;
  width:  20%;
  vertical-align: middle;
  border-style: none;
}
.form-container .form-group{
  margin: 0 0 0px;
  position: relative;
}
.form-container .form-control{
  background-color:rgba(126, 120, 120, 0.281);
  border-color: #fafafae6;
    width:100%;
    height: 40px;
    border-radius: 8px;
   margin-top: 10px;
   /* margin-right: 15px; */
}
  .form-container .form-control::placeholder {
    color: white;
    font-size: 14px;
  }
 .form-container .btn{
  
    border-radius:8px;
    height: 40px;
    background:linear-gradient(to right, #0a87c0, #4FC3F7);
    cursor: pointer;
    width: 100%;
    margin-top: 19px;
    opacity: 0.9;
  
  }
  .form-container .form-options{
    margin: 0;
    padding: 0;
    list-style: none;
    
  }
  .form-container .form-options li a{
    color: white;
    margin: 0 0 10px;
    display: block;
    text-decoration: underline;
    margin-top: 30px;

  }
  
  .btn:hover {
    opacity: 1;}

/* 
      @media only screen and (max-width:450px){
        .bg{
          background-size: 800%;
        }
        .form-container{
          width: 80%;
        }
      } */

#text7
{
  background-image:url("D:/Sys-Task/Assignment-01/images/emailicon.png");
  position: left;
  padding-left: 40px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 15px;
  width: 260px;

}
#text8
{
  background-image:url("D:/Sys-Task/Assignment-01/images/passwordicon.png");
  position: left;
  padding-left: 40px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 15px;
  width: 260px;

  


}
#text9
{
  background-image:url("D:/Sys-Task/Assignment-01/images/passwordicon.png");
  position: left;
  padding-left: 40px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 15px;
  width: 260px;


}

    /* input{
    margin-bottom:15px;
     margin-left:20px;
     margin-top: 20px;
     padding: 8px;
  
    border-radius:8px;
    height: 25px;
    width:250px;
    
}

.btn4{
    padding: 8px;
    margin: 4%;
    border-radius:8px;
    height: 40px;
    color: white;
    cursor: pointer;
    width: 310px;
     margin-top: 15px;
   border: 0px;
    margin-left:25px; 
    opacity: 0.9;
    margin-bottom: 0px;

  }
  
  .btn:hover {
    opacity: 1;}
    

    .under a:visited {
        color:white;
        margin-top: 0px;
      } */
